:root{
	/* --varname:value; */
	--back-grey:#443333;
}

body {
	background-color: rgba(248, 248, 248, 1.0);
}

a:link {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

#nav li {
	display: inline-block;
	font-family: times;
	font-size: 20pt;
	color: black;

	margin: 10px;
	border: 10px solid #683;
	padding: 10px;
	width: 40px;
	height: 40px;
}

#nav img {
	width: 100px;
}

#title h1 {
	font-family: serif;
	font-size: 20pt;
	color: white;
	background-color: black;
}

#title a {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: serif;
	font-size: 20pt;
	color: white;
}




/*-------------------------
huangjie part begin
*/

.h_word h2{
    font-family: serif;
    font-size: 50pt;
    color: black;
    text-align:center;
}
.h_word p{
    font-family: serif;
    font-size: 15pt;
    color: black;
    text-align:center;
}



/*-------------------------
huangjie part end
*/

/*-------------------------
Yanping part begin
*/
.back-grey {
	background-color: var(--back-grey);
}

#memu-imgs {

}

#memu-imgs div{
	display: inline;
	overflow: hidden;
	position: relative;
}

#memu-imgs img{
	border-radius: 20px;
	max-width: 200px;
	/*width: 100px;*/
	/*height: 50px;*/
}


.memu-img-title{
	position: absolute;
	bottom: 2em;
	left: 1em;
	text-align: left;
}
/*-------------------------
Yanping part end
*/