body {
	background-color: rgba(248, 248, 248, 1.0);
}

a:link {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

#nav li {
	display: inline-block;
	font-family: times;
	font-size: 20pt;
	color: black;

	margin: 10px;
	border: 10px solid #683;
	padding: 10px;
	width: 40px;
	height: 40px;
}

#nav img {
	width: 100px;
}

#title h1 {
	font-family: serif;
	font-size: 20pt;
	color: white;
	background-color: black;
}

#title a {
	background-color: rgba(0, 0, 0, 0.8);
	font-family: serif;
	font-size: 20pt;
	color: white;
}




/*-------------------------
huangjie part begin
*/

.h_word h2{
    font-family: serif;
    font-size: 50pt;
    color: black;
    text-align:center;
}
.h_word p{
    font-family: serif;
    font-size: 15pt;
    color: black;
    text-align:center;
}

#h_contact {
    width: 100%;
    text-align:center;
    
    
}
.h_nameemail {
    display: inline;
    width:100%;
    margin: 1px;
}
.h_nameemail input{
    margin: 1%;
    width: 29%;
	height: 40px;
}


#h_message textarea{
    
    width :60%;
    height: 300px;
}
#h_sendreset{
    padding: 0px;
}
#h_sendreset li{
   display: inline;
   width : 40%;
   
}
#h_sendreset input{
    display: inline;
    width :30%;
    height: 30px;
    border:none;
    
    
}


/*-------------------------
huangjie part end
*/