:root{
	/* --varname:value; */
	--back-grey:#443333;
}

/*
*********************
*** Zuoyue's Part ***
*********************
*/

body {
	background-color: rgba(248, 248, 248, 1.0);
}

#lizuoyue {
	text-align: center;
}

#lizuoyue a:link, a:active, a:hover, a:visited {
	text-decoration: none;
	color: black;
}

#navigation li {
	display: inline-block;

	font-family: 'Kreon';
	font-size: 10pt;
	color: black;

	width: 200px;
	height: 100px;

	margin: 0px;
	border: 1px solid;
	padding: 0px;
}

#navigation img {
	width: 10px;
}

#header img {
	text-align: center;
	position: relative;
	width: 100%;
}

#title h1 {
	text-align: center;
	position: absolute;
	top: 360px;
	font-family: 'Roboto', sans-serif;
	font-size: 48pt;
	color: white;
	background-color: black;
	width: 100%;
}

#title a {
	text-align: center;


	position: absolute;
	top: 500px;
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	width: 160px;
	padding: 20px;
	color: white;
	border: 1px solid;
	border-radius: 5px;
}

/*
*********************
*** Zuoyue's Part ***
*********************
*/

/*-------------------------
huangjie part begin
*/

.h_word h2{
    font-family: serif;
    font-size: 50pt;
    color: black;
    text-align:center;
}
.h_word p{
    font-family: serif;
    font-size: 15pt;
    color: black;
    text-align:center;
}

#h_contact {
    width: 100%;
    text-align:center;
    
    
}
.h_nameemail {
    display: inline;
    width:100%;
    margin: 1px;
}
.h_nameemail input{
    margin: 1%;
    width: 29%;
	height: 40px;
}


#h_message textarea{
    
    width :60%;
    height: 300px;
}
#h_sendreset{
    padding: 0px;
}
#h_sendreset li{
   display: inline;
   width : 40%;
   
}
#h_sendreset input{
    display: inline;
    width :30%;
    height: 30px;
    border:none;
    
    
}




#h_opening_hour_contracts{
    display: inline-block;
    width :100%;
    text-align:center;
    
}

#h_opening_hour_contracts div{
    display: inline-block;
    width :30%;
    text-align:center;
    
}
#h_copy {
    padding : 0;
    text-align:center;
}
#h_copy li{
    display: inline-block;
    text-align:center;
    padding : 0;
    border:none;
}
/*
#h_opening_hour_contracts div{
    display: inline;
    text-align:center;
   
    
}
*/

/*-------------------------
huangjie part end
*/

/*-------------------------
Yanping part begin
*/
.back-grey {
	background-color: var(--back-grey);
}

#memu-imgs {

}

#memu-imgs div{
	/*display: inline;*/
	overflow: hidden;
	position: relative;
}

#memu-imgs img{
	border-radius: 20px;
	max-width: 300px;
	/*width: 100px;*/
	/*height: 50px;*/
}


.memu-img-title{
	color: rgb(256,256,256);
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 4em;
	width: 300px;
	/*left: 1em;*/
	text-align: left;

}
/*-------------------------
Yanping part end
*/